body {
    font-size: 3rem;
    background-image: url("https://i.imgur.com/i23cGgr.jpeg");
    background-color: rgb(38, 39, 41);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner {
    display: flex;
    justify-content: center;
}
.banner-items {
    color:aqua;
    display:flex;
    flex-direction: column;
}
.navicons {
   color:goldenrod;
}
.navbar-list {
    margin:0%;
    size: 6rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(29, 123, 167);
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    flex-direction:row;
}
.nav1 {
    color:gold;
    text-decoration: none;
    font-size: 2rem;
}
