body {
    font-size: 3rem;
    
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.navicons {
   color:gold;
}
.navbar-list {
    padding: .5rem;
    background-color: rgb(29, 123, 167);
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    flex-direction:row;
}
.nav1 {
    color:goldenrod;
    text-decoration: none;
    font-size: 2rem;
}
