body {
    font-size: 3rem;
    
}
.navicons {
   align-items:center;
   color:goldenrod;
}
.navbar-list {
    padding: 2rem;
    background-color: rgb(29, 123, 167);
    display: flex;
    list-style-type: none;
    justify-content:space-around;
    flex-direction:row;
}
.nav1 {
    color:goldenrod;
    text-decoration: none;
}
