body {
    font-size: 100%;
    background: url(../assets/images/cocktailbar.jpeg) no-repeat center center;
    background-color: rgb(38, 39, 41);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    line-height: 35px;
}
.navicons {
    color:rgb(255, 184, 4);
 }
 .navbar-list {
     margin:0%;
     padding: 0.5rem;
     border-radius: 1rem;
     background-color: rgba(38, 89, 114, 0.75);
     display: flex;
     list-style-type: none;
     justify-content:space-around;
     flex-direction:row;
     font-size: 180%
 }

 .nav1 {
    color:rgb(255, 184, 4);
    text-decoration: none;
    font-size: 80%;
}
.navbar-list a:hover {
    color:rgb(255, 184, 4, 0.8);
}
#banner {
    background-color: rgba(33, 78, 99, 0.95);
    border-radius: 70%;
    size: 100%;
    margin-top: 2%;
    height: 100%;
    width:400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 250%;
}
.banner-items {
    font-weight: 300;
    color:rgb(255, 184, 4);
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    -webkit-text-stroke: 0.08rem rgb(29, 123, 167, 0.2);
    font-family: 'Dancing Script', cursive; 
}
#Store-Bought {
    margin-top: 0.025rem;
    margin-bottom: 0.025rem;
    white-space: nowrap;
    font-size: 150%;
    color:rgb(255, 184, 4);
}
.Origin-Definitions {
    font-family: 'Nanum Pen Script', cursive;
    font-weight: 200;
    font-size: 22px;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-bottom: 100px;
    background:rgb(38, 39, 41, 1);
}
#origin {
    width: 90%;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background:rgb(38, 39, 41, 1);
    color:lavender;
}
#definition {
    background-color: lavender;
    color:rgb(38, 39, 41, 1);
    width: 90%;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px; 
    list-style-type: none;
}
.Adjective-Verb {
    font-style: italic;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
#recipebody {
    padding-bottom: 100px;
}
.recipes{
    margin-top: 4%;
    background:rgb(38, 39, 41, 0.75);
    color:lavender;
    font-weight:200;
    display:flex;
    padding:40px;
    font-family: 'Nanum Pen Script', cursive;
}
#whiskey-sour {
    width: 20vw;
    height: auto;
    background: url(../assets/images/whiskeysour.jpeg) no-repeat;
    background-size: cover;
    margin-right: 20px;  
}
#espresso-martisni {
    width: 20vw;
    height: 20vh;
    background: url(../assets/images/espressomartini.jpeg) no-repeat;
    background-size: cover;
}
#espresso-recipe {
    -webkit-text-stroke: 1px black;
    padding: 40px;
    display:flex;
    flex-direction: row-reverse;
    background: url(../assets/images/espressomartini.jpeg) no-repeat;
    background-size: cover;
}
#pornstar-martini {
    width: 20vw;
    height: 20vh;
    background: url(../assets/images/pornstarmartini.jpg) no-repeat;
    background-size: cover;
}
footer {
    height: 80px;
    width: 100vw;
    background-color:rgb(255, 184, 4, 0.9);
    position: fixed;
    bottom: 0;
}

.footer {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    place-content: space-evenly;
}
.footer-icons {
    padding-top: 18px;
    font-size: 2rem;
    color: rgba(114, 38, 73, 0.85);
}
#Store-Bought-footer {
    white-space: nowrap;
    font-size: 40px;
    color:rgba(38, 89, 114, 0.75);
    font-weight: 300;
    font-family: 'Dancing Script', cursive;
    text-decoration: none;
}
@media screen and (min-width: 601px) {
    .Origin-Definitions {
        display:flex;
        flex-direction: row;
    }
}